modelsim/
modelsim/_info
modelsim/_lib.qdb
*.qdb
modelsim/_lib1_0.qpg
modelsim/_lib1_0.qtl
modelsim/_vmake
Perceptron.cr.mti
Perceptron.mpf
vsim.wlf
*.qtl
modelsim/_lib1_5.qpg
modelsim/_lib1_5.qtl
*.qpg
PerceptronES.cr.mti
work/_vmake
work/_info
transcript
wlftxi4v03
wlft6ejf8a
transcript
transcript
wlftm4irn8
wlftrehx3s
wlftckv6wc
transcript
wlftgmctb5
wlft51ecv6
wlft8eckgn
